<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">TaskManager</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div id="nav" class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto" *ngIf="auth.isLoggedIn()">
        <li class="nav-item"><a class="nav-link" routerLink="/dashboard">Dashboard</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/logs">Logs</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/tasks">Tasks</a></li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item" *ngIf="!auth.isLoggedIn()"><a class="nav-link" routerLink="/login">Login</a></li>
        <li class="nav-item" *ngIf="auth.isLoggedIn()"><a class="nav-link" (click)="logout()" href="#">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container mt-3">
  <router-outlet></router-outlet>
</div>
